{% extends 'base.html' %}
 
{% block container %}
  {% if current_user.is_authenticated %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <th scope="col">Database</th>
        <th scope="col">Account Status</th>
        <th scope="col" colspan="2">Action</th>
      </thead>

      <tbody> 
        {% for db in user_databases %}
          <tr>
            <th scope="row">{{ db.database_name }}</td>
            <td>{{ db.account_status }}</td>
            <td>
              <form action="{{ url_for('auth.reset') }}" method="post">
                <input type="hidden" name="dbuserid" value="{{ db.id  }}"/>
                <input type="submit" class="btn btn-xs btn-secondary" value="Reset Password"/>
              </form>
            </td>
            <td>
              <form action="{{ url_for('auth.unlock') }}" method="post">
                <input type="hidden" name="dbuserid" value="{{ db.id }}"/>
                <input type="submit" class="btn btn-xs btn-secondary" value="Unlock Account"/>
              </form>
            </td>
          </tr>
         {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
