{% extends 'home.html' %}

{% block container %}
  <div class="top-pad">
    <form
        method="POST"
        action="{{ url_for('auth.login') }}"
        role="form">
      {{ form.csrf_token }}
      <div class="form-group row">
        <label for="domain" class="col-sm-2 col-form-label col-form-label-lg">Domain:</label>
        <div class="col-sm-10">
          <select class="form-control" id="domain" name="domain">
          {% for d in domains %}
              <option value={{ d }}>{{ d }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label col-form-label-lg">Username:</label>
        <div class="col-sm-10">
          <input id="username" class="form-control" name="username" required type="text" value="">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password:</label>
        <div class="col-sm-10">
          <input id="password" class="form-control" name="password" required type="password" value="">
        </div>
      </div>
      <button type="submit" class="btn btn-secondary">Sign In</button>
    </form>
  </div>
{% endblock %}
